body{
     background: #0f172a;
    color: white;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    position: sticky;
    top: 0;
    z-index: 400;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.bar {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    cursor: pointer;
    color: white;
}

.bar :hover {
    background-color: white;
    color: black;
    border-radius: 20px;
}

.logo img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: contain;
}

.hone {
    font-weight: lighter;
    font-size: 50px;
    color: #F8FAFC;
    text-align: center;
    margin-top: 10px;

}

.in {
    position: relative;
    margin: 1rem;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background: #0f172a;
    color: black;
    padding: 0.1rem;
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
}

.search:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 12px rgba(59, 130, 246, 0.5);
}

.search {
    background: #1e293b;
    color: white;
    border: 2px solid #334155;
    width: 100%;
    padding: 0.7rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.search::placeholder {
    color: #94a3b8;
}

.hoho {
    margin-left: 0.7rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 1rem;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
}

.box::before {
    content: "";
    position: absolute;
    top: -100%;
    left: -100%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg,
            transparent,
            rgba(255, 255, 255, .15),
            transparent);
    transform: rotate(45deg);
    transition: .6s;
}

.box:hover::before {
    top: 100%;
    left: 100%;
}

.box {
    position: relative;
    overflow: hidden;
    border-top: 4px solid #38bdf8;
    background: linear-gradient(145deg, #1e293b, #334155);
    border-radius: 18px;
    padding: 1.5rem;
    text-align: center;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.08);
    cursor: pointer;
    animation: fadeUp .6s ease;
}

@keyframes fadeUp {

    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.slide {
    display: none;
}

.fa {
    font-size: 20px;
    margin: 10px;
    background: #0f172a;
    color: white;
}

.box:hover .icon {
    transform: scale(1.2) rotate(8deg);
}

.icon {
    transition: transform .3s ease;
    top: 9px;
    font-size: 60px;
    margin-top: 0.5rem;
    justify-items: center;
    color: #7dd3fc;
}

.suggesion div:hover {
     background: #2563eb;
    color: white;
    padding-left: 22px;
}
.suggesion div:last-child{
    border-bottom: none;
}
.butt {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #3b82f6;
    color: white;
    font-weight: bold;
    transition: .3s;
}

.result {
    display: flex;
    justify-self: center;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.suggesion div {
    padding: 12px 16px;
    color: white;
    cursor: pointer;
    transition: all .25s ease;
    border-bottom: 1px solid rgba(255,255,255,.05);
}

.wrape {
    position: relative;
    width: 30rem;
    margin: 0 auto;
}

.suggesion {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #1e293b;
    border-radius: 12px;
    margin-top: 8px;
    overflow: hidden;
    border: 1px solid #334155;
    box-shadow: 0 10px 25px rgba(0,0,0,.4);
    z-index: 1000;
     animation: dropdown .2s ease;
}
@keyframes dropdown{

    from{
        opacity:0;
        transform:translateY(-8px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

@media(max-width:992px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    li {
        width: 8rem;
        padding: 5px;
    }
    .bar li {
        margin-top: 12px;
    }

    .wrape {
        width: 360px;
    }

    .bar {
        display: none;
        flex-direction: column;
        isolation: isolate;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: -5px 0 20px rgba(0, 0, 0, 0.3);
        width: 11rem;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        padding: 10px;
        font-weight: bold;
    }

    nav {
        position: relative;
        padding: 0;
    }

    .slide {
        display: block;
        background-color: transparent;
        font-size: 20px;
        position: fixed;
        right: 5px;
        z-index: 2000;
        padding: 5px;
    }

    .bar.active {
        display: block;
    }

    .hone {
        display: none;
    }
}